/* navbar */


/*button{background-color:lightgrey;border:none;}
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.navbar {
    margin: 0;
    align-items: center;
    /*justify-content: space-between;
  padding: 0.5rem;*/
    background-color: #1db954;
    position: fixed;
    top: 0;
    color: #fff;
}

body {
    overflow-x: hidden;
}

* {
    font-family: 'Poppins', sans-serif;
}


/* logo */

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
}


/* search bar */

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-radius: 50px;
    margin-right: 0.5rem;
    width: 200px;
}

.search-bar button {
    margin-left: 0.5rem;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #1db954;
    font-weight: bold;
    cursor: pointer;
}


/* songs list */

#songs-list {
    margin-top: 1.5rem;
}

nav {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    background: linear-gradient(238deg, #fd8800, #fd008f, #9700fd, #003dfd, #05c7e6, #4bd58d);
    background-size: 1200% 1200%;
    -webkit-animation: rainbow 30s ease infinite;
    animation: rainbow 30s ease infinite;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.logo img {
    min-width: 50px;
    max-width: 50px;
    margin: 0 auto;
}

.logo img {
    height: 50px;
}

.search {
    display: yes;
    border-radius: 50px;
}

#search-input {
    width: 98%;
    margin-left: 20px;
    padding: 10px;
    font-size: 18px;
    padding-left: 25px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.song img {
    width: 100px;
    height: 100px;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: auto;
    height: 50px;
    margin-right: 0.5rem;
}

#custom-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#player-controls {
    display: flex;
    width: 50%;
    align-items: center;
}

#play-button,
#pause-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

#song-info {
    text-align: center;
}

#song-name {
    font-weight: bold;
    font-size: 18px;
    z-index: 1000000;
    padding-right: 15px;
}

#song-artist {
    font-size: 14px;
}

#songDiv {
    display: flex;
    flex-direction: row;
}

#customPlayer {
    width: 50%;
    z-index: -10000;
}

#song-info {
    position: absolute;
    left: 120px;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 20px;
    display: flex;
    width: 300%;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 325px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

#custom-player {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    z-index: 1;
    width: 300px;
}

#player-album-cover {
    width: 60px;
    margin-left: 340px;
    z-index: -1;
    padding-top: 0px;
    border-radius: 10px;
}

.cover {
    border: 1px solid black;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 11px;
    margin-left: 10px;
    width: 110px;
}

#songs-list {
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}

.song-name {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

.artist-name {
    padding-bottom: 50px;
}

.song-info {
    margin-left: 15px;
    padding-top: 0.1px;
}

#player-song-info {
    z-index: 1;
}

#player-artist-name {
    padding-bottom: 5px;
}

#custom-player {
    height: 50px;
}

.song {
    height: 130px;
    width: 30%;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

#custom-player,
#player-controls,
#player-song-info,
#song-info {
    height: 60px;
    background-color: #ffffff;
}

#box-shadow {
    width: 100%;
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.4);
}

#song-info {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .song {
        height: 130px;
        width: 48%;
    }
    /* #song-info {padding-left:700px;}
    #player-album-cover {padding-left:700px;} */
}

@media only screen and (max-width: 600px) {
    .song {
        height: 65px;
        width: 96%;
    }
    .song img {
        width: 40px;
        height: 40px;
    }
    .song .cover {
        width: 40px;
        height: 40px;
    }
    .song br {
        height: 0px;
    }
    #custom-player {
        height: 40px;
        position: absolute;
        top: 0;
        bottom: 60px;
    }
    #custom-player-container {
        height: 100px;
    }
    #audio-player {
        margin-top: -50px;
    }
    #player-album-cover {
        margin-left: 10px;
        margin-top: 60px;
        width: 40px;
        height: 40px;
    }
    #song-info {
        margin-top: 60px;
        margin-left: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    #custom-player {
        width: 400px;
    }
    #song-info {
        padding-left: 600px;
    }
    #player-album-cover {
        margin-left: 600px;
    }
}

@media only screen and (min-width: 1400px) {
    #custom-player {
        width: 500px;
    }
    #song-info {
        padding-left: 700px;
    }
    #player-album-cover {
        margin-left: 700px;
    }
}

.song:hover {
    background-color: #c0c0c0;
}

#page-title {
    margin-top: 45px;
    margin-left: 10px;
}

img {
    pointer-events: none;
}


/* Track */


/* The container that holds the content */

.right-click-menu {
    background-color: #ffffff;
    width: 160px;
    height: 100px;
    padding-top: 10px;
    text-align: center;
    box-shadow: -5px 5px 10px #00000099;
    border-radius: 10px;
}

.right-click-menu button {
    width: 142px;
    height: 40px;
    border: none;
    padding-left: 15px;
    background-color: #ffffff;
    color: black;
    text-align: left;
    border-radius: 11px;
}

.right-click-menu button:nth-child(2) {
    width: 142px;
    height: 40px;
    border: none;
    padding-left: 15px;
    margin-top: 10px;
    background-color: #ffffff;
    color: black;
    text-align: left;
    border-radius: 11px;
}

.right-click-menu button:hover {
    background-color: #f0f0f0;
}

#playlist {
    margin-top: 10px;
}

#playlist ul {
    list-style: none;
    padding: 0;
}

#playlist ul li {
    padding: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    cursor: pointer;
}

#playlist ul li:hover {
    background-color: #e6e6e6;
}


/* Existing styles... */


/* Dark theme */

.dark-theme {
    background-color: #151515;
    color: #fff;
}

.dark-theme nav {
    background-color: #111;
}

.dark-theme .search-bar input[type="text"] {
    background-color: #111;
    color: #fff;
}

.dark-theme .search-bar {
    background-color: #111;
    color: #fff;
}

.dark-theme #song-info,
.dark-theme #player-album-cover {
    background-color: #111;
    color: #fff;
}

.dark-theme #custom-player,
.dark-theme #player-song-info,
.dark-theme #song-info {
    background-color: #eee;
    color: #111;
}

.dark-theme .song:hover {
    background-color: #222;
}

.dark-theme #custom-player {
    filter: invert(100%);
}

.dark-theme #player-album-cover {
    filter: invert(100%);
}

.dark-theme #search-input {
    background-color: #151515;
    color: white;
}

#settings-button {
    color: white;
}

.dark-theme #settings-button {
    color: black;
}

.theme-toggle {
    margin: auto;
    margin-right: 10px;
}


/* Track */

::-webkit-scrollbar {
    width: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.dark-theme ::-webkit-scrollbar-thumb:hover {
    background-color: #222;
}


/* Track on hover */

::-webkit-scrollbar-track:hover {
    background-color: #f1f1f1;
}

.dark-theme ::-webkit-scrollbar-track:hover {
    background-color: #222;
}


/* Track when scrollbar is active */

::-webkit-scrollbar-track:active {
    background-color: #ccc;
}

.dark-theme ::-webkit-scrollbar-track:active {
    background-color: #222;
}


/* Corner */

::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-corner {
    background-color: #222;
}

.dark-theme .right-click-menu {
    background-color: #000000;
    box-shadow: -5px 5px 10px #ffffff59;
}

.dark-theme .right-click-menu button {
    background-color: #000000;
    color: white;
}

.dark-theme .right-click-menu button:hover {
    background-color: #090909;
}

#save-settings-button {
    border: none;
    border-radius: 10px;
    padding: 5px 16px;
    margin-bottom: 7px;
    margin-top: 7px;
    background-color: #f2f2f2;
    color: black;
}

#save-settings-button:hover {
    background-color: #e0e0e0;
}

.dark-theme #save-settings-button {
    background-color: #0e0e0e;
    color: white;
}

.dark-theme #save-settings-button:hover {
    background-color: #090909;
}